/* Asegura que todos los textos utilicen la fuente Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, royalblue, lightblue, turquoise);
    background-size: cover;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h2 {
    margin-top: 0;
    color: royalblue;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.error {
    color: red;
    font-weight: bold;
}

.footer {
    margin-bottom: 20px;
    text-align: center;
}

.footer .index {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.header .logo {
    width: 400px;
    height: auto;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    input[type="email"], input[type="password"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}